body {
    background-color: black;
    letter-spacing: 1.1pt;
    color: white;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

h4 {
    display: inline;
}

.cat {
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    a {
        color: black;
    }
}